<a href="https://colab.research.google.com/github/verenaashraf/-Ai-Labs-ItI-/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create number variables named num1, num2, num3 and assign them values 3, 4 and 5, then calculate the output of the following Arithmetic Operations with clarifying the calculation that you have made:

a) num1+num2

b) num3-num1

c) num1*num2+num3

d) num1*(num2+num3)

e) num3/num1

f) num3//num1

g) num3%num1

h) Change the variables (num1, num2, num3) to float point numbers and repeat Prob.1 from a to g

In [ ]:
#AI ITI LAB 1

In [1]:
num1=3
num2=4
num3=5

In [2]:
num1+num2

7

In [3]:
num3-num1

2

In [4]:
num1*num2+num3

17

In [5]:
num1*(num2+num3)

27

In [6]:
num3/num1

1.6666666666666667

In [7]:
num3//num1

1

In [8]:
num3%num1

2

In [13]:
float(num1)

3.0

In [14]:
float(num2)

4.0

In [15]:
float(num3)

5.0

In [ ]:
num1+num2

7

In [16]:
num3-num1

2

In [17]:
num1*num2+num3

17

In [18]:
num1*(num2+num3)

27

In [19]:
num3/num1

1.6666666666666667

In [20]:
num3//num1

1

In [21]:
num3%num1

2

2. Create variables named x, y, z, and g and assign them values 1,2,3, and 4, then calculate the output of the following Arithmetic
Operations:

a) x+y*z/g

b) y**z

In [23]:
x=1

In [24]:
y=2

In [25]:
z=3

In [26]:
g=4

In [27]:
x+y*z/g

2.5

In [28]:
y**z

8

3. Create str_a, str_b, str_c, and num which contain values "Python", "is a", "times fun language" and 1000.

a) Concatenate str_a, str_b, num, and str_c respectively then return the new value in variable named str_ab

b) Repeat str_a for 10 times and return the new value in str_a10

In [35]:
str_a="Python "

In [36]:
str_b= "is a "

In [37]:
str_c=" times fun language"

In [38]:
num= 1000

In [39]:
str_ab=str_a + str_b + str(num) +str_c

In [40]:
print(str_ab)

Python is a 1000 times fun language

In [41]:
str_a10=str_a *10

In [42]:
print(str_a10)

Python Python Python Python Python Python Python Python Python Python

# **Write a program that asks the user for a number and prints whether it’s odd or even.**

In [43]:
num=int(input("Enter Number :"))

Enter Number :3

In [44]:
if (num%2==0):
  print("Even Number")
else:
  print("Odd Number")

Odd Number

**Input a student’s score (0–100) and print "Pass" if it’s ≥ 50, else "Fail".**

In [46]:
score=int(input("Enter Your Score :"))
if (score>=50):
  print("pass")
else:
  print("Fail")

Enter Your Score :49
Fail

**Take 3 numbers as input and print the larger one.**

In [47]:
def largest_number (n1 , n2 ,n3):
  if (n1>n2):
    if (n1 > n3):
      large=n1
    else:
      large=n3
  else:
    if (n2>n3):
      large=n2
    else:
      large=n3
  return(large)

n1=int(input("Enter number 1:"))
n2=int(input("Enter number 2:"))
n3=int(input("Enter number 3:"))
largest_number (n1 , n2 ,n3)

Enter number 1:10
Enter number 2:8
Enter number 3:-1

10

**Use a for loop to print numbers from 1 to 10.**

In [57]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Grade Calculator
Input a score and use if / elif / else to print a grade:

• A: 90–100

• B: 80–89

• C: 70–79

• D: 60–69

• F: below

In [59]:
degree=int(input("Enter your degree:"))
if ((degree>=90 )and (degree<=100)):
  Grade="A"
elif ((degree>=80 )and (degree<=89)):
    Grade="B"
elif ((degree>=70 )and (degree<=79)):
    Grade="c"
elif ((degree>=60 )and (degree<=69)):
    Grade="D"
else:
      Grade="Below"
print(Grade)

Enter your degree:89
B

 **Multiplication Table
Ask the user for a number and print its multiplication table from 1 to 10 using a for loop**

In [60]:
i=int(input("Enter Number:"))
for j in range(1,11):
  print(f"{i}*{j}={i*j}")

Enter Number:2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

**Sum of Even Numbers
Use a loop to find the sum of all even numbers between 1 and 50.**

In [65]:
even_sum=0
for number in range(1,51):
  if number%2==0:
    even_sum+=number
print(even_sum)

650

** Factorial with while
Ask the user for a number and calculate its factorial using a while loop.**

In [70]:
num0=int(input("Enter Number:"))
factorial=1
while(num0 >0):
  factorial*=num0
  num0=num0-1
print(factorial)

Enter Number:3
6

*italicized text*